{% extends "layout.html" %}

{% block title %}
구정문 맛집 : 황제보쌈
{% endblock %}

{% block content %}
<header id="header">
    <h1>구정문 맛집 : 황제보쌈</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">홈으로</a></li>
        </ul>
    </nav>
</header>
<section id="king" class="main style2 right dark fullscreen">
    <div class="content box style2">
        <header>
            <h2>황제보쌈</h2>
        </header>
        <p>은 전북대생이라면 모를 수가 없는 유명 맛집이다.</br>
        밥약 장소로 가장 많이 가며 보쌈의 소스는 달달한 편이다.</br></br>보쌈 정식이 9500원으로 저렴한 편이다.</p>
    </div>
</section>
{% endblock %}
