{% extends "layout.html" %}

{% block title %}
구정문 맛집 : 하나요리당고
{% endblock %}

{% block content %}
<header id="header">
    <h1>구정문 맛집 : 하나요리당고</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">홈으로</a></li>
        </ul>
    </nav>
</header>
<section id="onedanggo" class="main style2 right dark fullscreen">
    <div class="content box style2">
        <header>
            <h2>하나요리당고</h2>
        </header>
        <p>는 일식덮밥집이다. 점심시간에 가면 빈자리가 없을 정도로 북적거린다.</br>
        다른 일식 덮밥집보다 저렴한 편이고</br> 맛있어서 인기가 많은 집이다.</br></br>
        덮밥류의 가격은 10000-11000원이다.</p>
    </div>
</section>
{% endblock %}
