{% extends "./layout.html" %}
{% load static %}
{% block title %}
구정문 맛집 : 누룩꽃 피는 날
{% endblock %}

{% block content %}
<header id="header" class="text-center my-2">
    <h1>구정문 맛집 : 누룩꽃 피는 날</h1>
    <nav class="navbar navbar-light justify-content-end">
        <a class="btn btn-outline-primary" href="{% url 'single_pages:index' %}" style="border-radius: 20px; padding: 10px 20px;">홈으로</a>
    </nav>
</header>
<section id="flower">
    <div class="container">
        <p class="text-center">누룩꽃 피는 날은 막걸리를 파는 술집이다.</br>
            기본 안주로 뻥튀기 아이스크림, 라면, 떡볶이가 나오는데</br> 기본 안주만으로도 양이 많고 맛있어서 유명한 집이다. </br>
            다양한 과일 막걸리를 맛볼 수 있으며 </br>메인 메뉴는 마약육전과 쫄면이다.</p>
        <div class="text-center">
            <img src="{% static 'single_pages/images/flower.jpg' %}" alt="flower" class="img-fluid" style="width: 100%; height: auto;">
        </div>
    </div>
</section>
{% endblock %}
