/* 내비게이션 바 스타일 */
.navbar {
    background-color: #f8f9fa; /* 기본 부트스트랩 배경색 */
}

/* 내비게이션 링크 색상 */
.navbar .nav-link {
    color: black; /* 기본 링크 텍스트 색상 */
    text-decoration: none; /* 기본 텍스트 장식 제거 */
}

/* 호버 시 색상 변경 제거 */
.navbar .nav-link:hover {
    color: black; /* 호버 시에도 검은색 텍스트 유지 */
    text-decoration: none; /* 호버 시에도 텍스트 장식 제거 */
}

/* 내비게이션 브랜드 색상 */
.navbar .navbar-brand {
    color: black;
}

/* 전체화면 이미지 스타일 */
.container-fluid img {
    object-fit: cover; /* 이미지가 컨테이너에 맞게 잘리도록 설정 */
    width: 100%; /* 이미지의 너비를 100%로 설정 */
    height: 650px; /* 이미지의 높이를 650px로 설정 */
}

/* 여백 및 정렬을 위한 스타일 */
body {
    padding: 0; /* 기본 여백 제거 */
    margin: 0; /* 기본 여백 제거 */
}
